<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>number of staffs are present in the school</h1>
        <h2>headmaster name:- required</h2>
        <h2>all staffs names:- required</h2>
        <h3>number of students are present in the school</h3>
        <h3>new admissions are open on 1st - jan -2024</h3>
        <h4>english teachers are these many staffs</h4>
        <h4>maths teachers these many staffs</h4>
        <h4>science teachers these many staffs</h4>
        <h4>hindi,canada,telugu,social these many staffs are there our present school</h4>
        <h5>all staffs subject teaches is very excellence</h5>



        
    </center>
</body>
</html>