<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        
        <h1>total sq feets of school surrounding is 2024sq feets </h1>
        <h1>one singing room and one dancing room and one other activities</h1>
        <h2>total rooms are present in the our school is 100 rooms</h2>
        <h2>rest rooms are 20 for safty purpose</h2>
        <h2>one park which is 100 meters distance (width and length)</h2>
        <h3>childres playing games which  seperated as 2 rooms </h3>
        <h3>childrens lunch time for that purpose we are provide almost 10 rooms</h3>
        <h4>beautiful trees and plants are living in our school</h4>
        <h5>we have 15 vans for shifting childrens </h5>
        <h5>very good communication in our school maintainance</h5>
        <h5>very fluenttly speaking anything from the scratch</h5>
        <h6>this is the best school in our mandal </h6>
        <h6>please join your childrens in our school and we are improving your childrens communication as well as subject knowledge</h6>
    </center>
</body>
</html>